<div class="containerPersonal">
  <div class="row justify-content-center animated fadeIn">
    <div class="col">
      <table class="table table-hover table-sm">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Correo</th>
            <th scope="col">Fecha</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <th scope="row">
              <a class="btn btn-sm btn-primary text-white" [routerLink]="['/clientes/detalle/', cliente.id]" >
                {{ cliente.id }}
              </a>
            </th>
            <td>{{ cliente.nombre  }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.createAt | date:'dd-MM-yyyy'}}</td>
            <td>
              <a class="mx-2 text-primary" align="center" type="buttom" [routerLink]="['/clientes/formulario/', cliente.id]">
                <i class="fas fa-user-edit p-2"></i>
              </a>
            </td>
            <td>
              <a class="mx-2 text-danger eliminar" align="center" type="buttom">
                <i class="fas fa-user-times p-2" (click)="delete(cliente)"></i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>  

  </div>

  <div class="row">
    <div class="col" align="center">
      <app-paginador *ngIf="paginas" [paginas]="paginas"></app-paginador>
    </div>
  </div>

</div>