<nav class="paginador" aria-label="Page navigation example">
  <ul class="pagination p-0 m-0" align="center">
    
    <li [className]="paginas.first ? 'page-item disabled' : 'page-item'">
      <a 
        class="page-link"        
        aria-disabled="true"        
        [routerLink]="['/clientes/pagina/', paginas.number - 1]"
      >
        Anterior
      </a>
    </li>

    <li class="page-item" *ngFor="let pagina of arregloPaginas" routerLinkActive="active">
      <span class="sr-only">(current)</span>
      <a class="page-link" [routerLink]="['/clientes/pagina/', pagina - 1]">
        {{ pagina }}
      </a>
    </li>

    <li class="page-item" [className]="paginas.last ? 'page-item disabled' : 'page-item'">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true" [routerLink]="['/clientes/pagina/', paginas.number + 1]">Siguiente</a>
    </li>

  </ul>
</nav>